<div class="search-container">
    <input type="text" placeholder="Search by filenumber" [(ngModel)]="searchId" (keyup.enter)="search()"/>
    <button (click)="search()">Search</button>
  </div>
  
  <div class="result" *ngIf="searchPerformed && result">
    <p><strong>Filenumber:</strong> {{ result.filenumber }}</p>
    <p><strong>First Name:</strong> {{ result.firstName }}</p>
    <p><strong>Middle Name:</strong> {{ result.middleName }}</p>
    <p><strong>Country:</strong> {{ result.country }}</p>
    <p><strong>City:</strong> {{ result.city }}</p>
    <p><strong>Date of birth:</strong> {{ result.dob }}</p>
    <p><strong>Gender:</strong> {{ result.Gender }}</p>

  </div>
  
  <!-- <ng-template #noResult>
    <p *ngIf="searchPerformed && !result && searchId.trim() !== ''">No result found for ID "{{ searchId }}".</p>
  </ng-template> -->

  <p *ngIf="searchPerformed && !result">
    No result found for ID "{{ searchId }}".
  </p>
  